body {
    background-color: #081b1a;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: cursive;
}

#navbar1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 50px;
    background-color: #081b1a;
    width: 430px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: flex;
}

li {
    float: left;
}

li a {
    display: block;
    color: #D3AF37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
    border-radius: 50px;
}

html{
    scroll-behavior: smooth;
}